{% extends '_base.html' %}

{% block content %}

    <div class="container">
        <h2>New User Addition Projects</h2>
        <hr>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://redefineschool.files.wordpress.com/2010/07/you-can1.jpg" alt="">
          </a>
        </div>
       <div class="col-md-5">
          <h3>Insert your own project!</h3>
          <p>Run whatever you'd like!</p>
          <a class="btn btn-primary" href="#">View Project
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>


    </div>
    <!-- /.container -->

{% endblock %}

