
{% extends "_base.html" %}

{% block css %}
        <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mt-5">Stoltzmaniac - Congress</h1>

            <div class="result">
                <div class="imgbox">
                    <img id="wordcloud" class="center-fit" src=""/>
                </div>
            </div>



            <strong>Dem Senate</strong>
            <div>
                {% for sd in s_dem %}
                    <a class="image" name="{{ sd['screen_name'] | safe }}" href="#"><img class="img-fluid" src={{ sd['profile_image_url'] | safe }} alt=""></a>  -  {{ sd['screen_name'] | safe }} - {{ sd['name'] }}
                    <br>
                {% endfor %}
            </div>
    </div>


    <script>

        $(document).ready(function () {
            var clicked;
            var screen_name = "SenSanders";
            $(".image").click(function () {
                clicked = $(this).attr("name");
                $.post("./generate_cloud/" + clicked, function( data ) {
                    $( "#wordcloud" ).attr("src", "data:image/png;base64, " + data);
                })
            });
        });
    </script>


{% endblock %}
