
{% extends "_base.html" %}

{% block css %}
        <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        .row {
            display: flex;
        }
        .column {
            flex: 50%;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mt-5">Stoltzmaniac - Members of Congress</h1>
        <p>Click a picture to generate a word cloud (give it some time).</p>

            <div class="result">
                <div class="imgbox">
                    <img id="wordcloud" class="center-fit" src=""/>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <strong>Senate Democrats</strong>
                    <hr>
                    {% for sd in s_dem %}
                        <a class="image" name="{{ sd['screen_name'] | safe }}" party="{{ sd['party'] }}" href="#"><img class="img-fluid" src={{ sd['profile_image_url'] | safe }} alt=""></a>  -  {{ sd['screen_name'] | safe }} - {{ sd['name'] }}
                        <br>
                    {% endfor %}
                </div>
                <div class="column">
                    <strong>Senate Republicans</strong>
                    <hr>
                    {% for sd in s_rep %}
                        <a class="image" name="{{ sd['screen_name'] | safe }}" party="{{ sd['party'] }}" href="#"><img class="img-fluid" src={{ sd['profile_image_url'] | safe }} alt=""></a>  -  {{ sd['screen_name'] | safe }} - {{ sd['name'] }}
                        <br>
                    {% endfor %}
                </div>
            </div>
            <br/>
            <hr>
            <br/>
            <div class="row">
                <div class="column">
                    <strong>House Democrats</strong>
                    <hr>
                    {% for sd in h_dem %}
                        <a class="image" name="{{ sd['screen_name'] | safe }}" party="{{ sd['party'] }}" href="#"><img class="img-fluid" src={{ sd['profile_image_url'] | safe }} alt=""></a>  -  {{ sd['screen_name'] | safe }} - {{ sd['name'] }}
                        <br>
                    {% endfor %}
                </div>
                <div class="column">
                    <strong>House Republicans</strong>
                    <hr>
                    {% for sd in h_rep %}
                        <a class="image" name="{{ sd['screen_name'] | safe }}" party="{{ sd['party'] }}" href="#"><img class="img-fluid" src={{ sd['profile_image_url'] | safe }} alt=""></a>  -  {{ sd['screen_name'] | safe }} - {{ sd['name'] }}
                        <br>
                    {% endfor %}
                </div>
            </div>
    </div>


    <script>
        $(document).ready(function () {
            var screen_name;
            var party;
            $(".image").click(function () {
                screen_name = $(this).attr("name");
                party = $(this).attr("party")
                $.post("./generate_cloud/" + screen_name + "/" + party, function( data ) {
                    $( "#wordcloud" ).attr("src", "data:image/png;base64, " + data);
                })
            });
        });
    </script>


{% endblock %}
