
{% extends "_base.html" %}

{% block content %}

    <div class="container">
        <h1 class="mt-5">Stoltzmaniac - Data Model</h1>
        <form id="randomDataForm" class="form" method="POST" action="" role="form", enctype="multipart/form-data">
        {{ myform.csrf_token }}
        <div class="form-group">
            <strong>{{ myform.file.label }}</strong>
            {{ myform.file(placeholder="Upload File", class_="form-control")}}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>
    <hr>
    <div class="container">
        {% if df_head %}
            {{ df_head | safe}}
        {% endif %}
    </div>

    <hr>

    <div class="container">
        {% if data_columns %}
            <h4>Choose Dependent Variable</h4>

            <table class="table">
              <thead>
                <tr>
                    <th scope="col">Independent Variable</th>
                    <th scope="col"> < -- ></th>
                    <th scope="col">Dependent Variable</th>
                </tr>
              </thead>
              <tbody>
              {% for dc in data_columns %}
                <tr>
                    <td><button class="button" id={{ dc }}><div class="dep_var">{{ dc }}</div></button></td>
                    <td></td>
                    <td class="dependent_variable" id="{{ dc }}"></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

        {% endif %}
    </div>

    <hr>

    Model Results

    <div id="regression_plots"></div>
        {% if results2 %}
            {{ results2 | safe }}
        {% endif %}
    </div>

    <pre>
    <div id="regression_results"></div>

    </div>
    </pre>



    <script type=text/javascript>
        $(document).ready(function () {
            var file_location = "{{ filename | safe}}";
            var dependent_variable = "";

            $(".dep_var").click(function () {
                dependent_variable = $(this).text();
                $(".dependent_variable").html(dependent_variable);
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "./regression/" + dependent_variable,
                    data: {'file_location': file_location },
                    success: function(result){
                        console.log(result);
                        $("#regression_plots").html(
                            result['plots']);
                        delete result['plots'];
                        $("#regression_results").html(
                            JSON.stringify(result, null, '\t'));
                    }
                });
            });
        });
    </script>

{% endblock %}
