{% extends '_base.html' %}

{% block content %}

    <div class="container">
        <h2>Stoltzmaniac Projects</h2>
        <hr>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="{{ url_for('stoltzmaniac.csv_example') }}">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.stack.imgur.com/BLE2H.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Download and display CSV table</h3>
          <p>A simple piece of code that downloads a CSV from a URL and displays it as an html table.</p>
          <a class="btn btn-primary" href="{{ url_for('stoltzmaniac.csv_example') }}">View Project
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

    <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="{{ url_for('stoltzmaniac.altair_example') }}">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.stack.imgur.com/4HXGr.png" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Plotting data with altair</h3>
          <p>An example of how easy it is to plot data with a Python library (altair) and display it on a page.</p>
          <a class="btn btn-primary" href="{{ url_for('stoltzmaniac.altair_example') }}">View Project
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

{#    <!-- Project Three -->#}
{#      <div class="row">#}
{#        <div class="col-md-7">#}
{#          <a href="{{ url_for('stoltzmaniac.twitter_sentiment') }}">#}
{#            <img class="img-fluid rounded mb-3 mb-md-0" src="https://cdn-images-1.medium.com/max/1200/1*EvfJW_CcF1u27ZMyt280hg.png" alt="">#}
{#          </a>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#          <h3>Sentiment Analysis on Twitter</h3>#}
{#          <p>Pick a search term and your data will be given a sentiment rating!</p>#}
{#          <a class="btn btn-primary" href="{{ url_for('stoltzmaniac.twitter_sentiment') }}">View Project#}
{#            <span class="glyphicon glyphicon-chevron-right"></span>#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
{#    <!-- /.row -->#}

    </div>
    <!-- /.container -->

{% endblock %}

