
{% extends "_base.html" %}

{% block css %}
        <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-5">Stoltzmaniac - Twitter Timeline</h1>

    <form id="randomDataForm" class="form" method="POST" action="" role="form">
        {{ myform.csrf_token }}
        <div class="form-group">
            {{ myform.username.label }}
            {{ myform.username(placeholder="Username (without the @)", class_="form-control")}}
        </div>
        <div class="form-group">
            {{ myform.image_url.label }}
            {{ myform.image_url(placeholder="Link to your image (https://...)", class_="form-control")}}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>

    {% if not wordcloud %}
        Sample image links (solid black with white backgrounds work best)
        <ul>
            <li><a href="https://i.postimg.cc/mrQxTBz6/download.png">Punisher Logo</a> - https://i.postimg.cc/mrQxTBz6/download.png</li>
            <li><a href="https://i.postimg.cc/VkPvgL8K/ele.png">Republican Elephant</a> - https://i.postimg.cc/VkPvgL8K/ele.png</li>
            <li><a href="https://i.postimg.cc/GmvWPbLJ/donk.jpg">Democrat Donkey</a> - https://i.postimg.cc/GmvWPbLJ/donk.jpg</li>
        </ul>
    {% endif %}

    {% if wordcloud %}

        <div class="imgbox">
            <img class="center-fit" src="data:image/png;base64, {{ wordcloud }} "/>
        </div>

    {% endif %}


</div>
{% endblock %}
