
{% extends "_base.html" %}

{% block content %}

<div class="container">
    <h1 class="mt-5">Stoltzmaniac - Twitter Sentiment Analysis</h1>

    <form id="randomDataForm" class="form" method="POST" action="" role="form">
        {{ myform.csrf_token }}
        <div class="form-group">
            {{ myform.search_term.label }}
            {{ myform.search_term(placeholder="Search Term, Username, or Hashtag", class_="form-control")}}
        </div>
        <div class="form-group">
            {{ myform.count.label }}
            {{ myform.count(placeholder="# of results requested", class_="form-control")}}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
    </form>

    {% if chart_data %}
        <strong>Sentiment of tweets:</strong>

        {{ chart_data }}

        <br/>

        <ul>
            {% for tweet in tweets %}
                <li>{{ tweet }}</li>
            {% endfor %}
        </ul>

    {% endif %}


</div>
{% endblock %}
