{% extends "_base.html" %}
{% block content %}

<div class="container">
    <h1 class="mt-5">Meetup - Who / What / Where / When</h1>
    <hr>
    <p>
        Take a look at our <a href="//www.meetup.com/Fort-Collins-Data-Science/">Meetup Page</a> for all of the information.
    </p>
    <h5>Who</h5>
    <p>
        We are a group of people interested in data science in the beautiful city of Fort Collins, CO.
    </p>
    <h5>What</h5>
    <p>
        We look at interesting topics in the industry and try to keep up with the latest trends.
    </p>
    <h5>Where</h5>
    <p>
        We switch off every week between Old Town and the South End of Fort Collins.
    </p>
    <h5>When</h5>
    <p>
        We meet every week! There is a 5:30-6:30pm group and a 6:30-7:30pm, they switch off every week.
    </p>
</div>

{% endblock %}
