{% extends "_base.html" %}
{% block content %}

<div class="container">
    <h1 class="mt-5">How to Contribute Your Code</h1>
    <hr>
    <p>
        I'm glad you're interested in contributing your code! While I haven't worked out the details yet, you can all of the information on the <a href="https://github.com/stoltzmaniac/foco_ds_portal">GitHub Repo</a>.

        Feel free to build a branch and make a pull request. I'm working on how to organize things and will keep updating everything as time progresses.
    </p>

</div>

{% endblock %}
