{% extends '_base.html' %}

{% block content %}

    <div class="container">
        <h2>New User Addition Projects</h2>
        <hr>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="https://github.com/GregHilston/data-science-portfolio">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.ytimg.com/vi/lyNn-2mVgg4/maxresdefault.jpg" alt="A picture of a chiseled man">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Greg's Data Science Portfolio</h3>
          <p>Describes all my data science experience, with links to individual projects.</p>
          <a class="btn btn-primary" href="https://github.com/GregHilston/data-science-portfolio">View Project
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}

